.navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}

.h1titulo {
  font-family: DatalegreyaThin;
  font-weight: bold;
  text-align: center;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  background-image: linear-gradient(to left, black, blue, grey, blue, black);
  animation-name: tada;
  animation-duration: 7s;
  animation-delay: 1s;
}

#encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-duration: 4s;
}

/*TRABAJOS*/
/*map get*/
#grilla3 {
  display: grid;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  background-color: #023b99;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 3fr);
  width: auto;
  grid-template-rows: 350px 350px;
}

/*Extend*/
/*Mixin con parametros*/
.nav22 {
  border-radius: 10px;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #a3a19b;
  margin: 10px;
  border: solid;
}

/*Mixin sin parametros*/
.nav22 {
  align-items: center;
  justify-content: center;
  display: flex;
}

/*INDEX*/
.body1 {
  background-color: #807469;
  background-image: url(../assets/LOGO/aventador-sv-002.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: 25px;
}
.body1 #encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
}
.body1 #encabezadoshome .imagenminiminiatura {
  border: solid #023b99;
  border-radius: 20px;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 1s;
}
.body1 .navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.body1 .navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.body1 .navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}
.body1 .navbar .menu li {
  text-align: start;
  list-style: none;
}
.body1 .navbar .menu a {
  font-size: x-large;
  border-left: solid white;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.body1 .h1titulo {
  font-family: DatalegreyaThin;
  font-weight: bold;
  text-align: center;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  background-image: linear-gradient(white, blue, black, white);
  animation-name: tada;
  animation-duration: 7s;
  animation-delay: 1s;
}
.body1 #grilla3 {
  display: grid;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  background-color: #023b99;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 3fr);
  width: auto;
  grid-template-rows: 350px 350px;
}
.body1 #grilla3 .nav22 {
  display: flex;
  border: solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a3a19b;
  margin: 10px;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.body1 #grilla3 .nav22 .navimg {
  border: solid yellow;
  border-radius: 15px;
  width: 200px;
  height: 275px;
  margin: 20px;
  transition: 3s;
}
.body1 #grilla3 .nav22 .navimg:hover {
  height: 350px;
  width: 300px;
}
.body1 #grilla3 .nav22 .botoncompra {
  color: aqua;
  background-color: #000;
  border: solid blue;
  border-radius: 10px;
}
.body1 #grilla3 .nav22 {
  display: flex;
  border: solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a3a19b;
  margin: 10px;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.body1 #grilla3 .nav22 .navimg2 {
  border: solid yellow;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  margin: 20px;
  transition: 3s;
}
.body1 #grilla3 .nav22 .navimg2:hover {
  height: 350px;
  width: 350px;
}
.body1 #grilla3 .nav22 .botoncompra {
  color: aqua;
  background-color: #000;
  border: solid blue;
  border-radius: 10px;
}
.body1 .h2titulo, .body1 .h9titulo {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  text-align: right;
  font-size: xx-large;
  display: grid;
  color: yellow;
}
.body1 .h2titulo .botoncompra2, .body1 .h9titulo .botoncompra2, .body1 .h2titulo .botoncompra9, .body1 .h9titulo .botoncompra9 {
  text-align: center;
  align-items: center;
  font-size: x-large;
  color: aqua;
  background-color: #000;
  border: solid red;
  border-radius: 10px;
  height: 100px;
  transition: height 3s;
  transform: skewY(2deg);
}
.body1 .h2titulo .botoncompra2:hover, .body1 .h9titulo .botoncompra2:hover, .body1 .h2titulo .botoncompra9:hover, .body1 .h9titulo .botoncompra9:hover {
  height: 200px;
}
.body1 .repuestosparamotores {
  color: antiquewhite;
  font-style: italic;
  font-weight: lighter;
  font-size: 50px;
  font-family: "poppins";
  text-align: center;
  border: solid black;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, blue, grey);
  /*
      transform: translateX(300px);
      transform: rotate(30deg);
      transform: scale(9,5);
      transform: skew(150deg, 18deg);
  */
}
.body1 .tipodetexto1 {
  color: #f0f0f0;
  text-align: center;
}
.body1 .MOTORESNAFTEROS {
  font-weight: bold;
  text-align: start;
  font-size: xx-large;
  margin: 30px;
  border: solid wheat;
  border-bottom: none;
  border-top: none;
  border-right: none;
  color: yellow;
  animation-name: backInRight;
  animation-duration: 10s;
}
.body1 .tipodetexto1 {
  color: #f0f0f0;
  text-align: center;
}
.body1 .tipodetexto2 {
  color: #f0f0f0;
  text-align: center;
}
.body1 .MOTORESACOMBUSTION {
  text-align: end;
  color: #f0f0f0;
  font-size: 48px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  border: solid black;
  border-radius: 5px;
  background-image: linear-gradient(to left, black, blue, grey, blue, black);
  margin: 50px;
}
.body1 .IMAGENINDEXCENTRADO {
  text-align: center;
}
.body1 .IMAGENINDEXCENTRADO .IMAGENINDEX {
  border-radius: 50px;
  border-bottom: solid 25px #022863;
  border-top: solid 25px #022863;
}

/*SOBRE LA EMPRESA*/
.body1 {
  background-color: #807469;
  background-image: url(../assets/LOGO/aventador-sv-002.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: 25px;
}
.body1 #encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
}
.body1 #encabezadoshome .imagenminiminiatura {
  border: solid #023b99;
  border-radius: 20px;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 1s;
}
.body1 .navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.body1 .navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.body1 .navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}
.body1 .tarjeta {
  background-color: transparent;
  padding: 20px;
  border-color: aqua;
  border-radius: 50px;
  border: solid 20px;
  border-bottom: #fff;
  border-top: #fff;
}
.body1 .tarjeta .tarjeta__miniatura {
  width: 650px;
  height: 200px;
}
.body1 .tarjeta .tarjeta__miniatura .tarjeta__imagen {
  width: 760px;
  border-radius: 200px;
  border: solid darkblue 9px;
}
.body1 .tarjeta .tarjeta__titulo {
  font-family: "poppins";
  font-size: 20px;
  margin-bottom: 20px;
}
.body1 .tarjeta .boton {
  display: grid;
  padding: 12px 25px;
  background-color: #000;
  border-radius: 10px;
  text-decoration: none;
  transition: all 3s;
}
.body1 .tarjeta .boton:hover {
  transform: translate(300px);
}

/*TRABAJOS*/
.body1 {
  background-color: #807469;
  background-image: url(../assets/LOGO/aventador-sv-002.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: 25px;
}
.body1 #encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
}
.body1 #encabezadoshome .imagenminiminiatura {
  border: solid #023b99;
  border-radius: 20px;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 1s;
}
.body1 .navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.body1 .navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.body1 .navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}
.body1 .h4titulo {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  background-image: linear-gradient(to right, black, blue, red, blue, black);
  text-align: center;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  margin: 10px;
  transform: rotate(1deg);
}
.body1 #grilla3 {
  display: grid;
  border: solid;
  border-radius: 10px;
  color: #f0f0f0;
  background-color: #023b99;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 3fr);
  width: auto;
  grid-template-rows: 350px 350px;
}
.body1 #grilla3 .nav22 {
  display: flex;
  border: solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a3a19b;
  margin: 10px;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.body1 #grilla3 .nav22 .navimg2 {
  border: solid yellow;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  margin: 20px;
  transition: 3s;
}
.body1 #grilla3 .nav22 .navimg2:hover {
  height: 350px;
  width: 350px;
}
.body1 #grilla3 .nav22 .botoncompra {
  color: aqua;
  background-color: #000;
  border: solid blue;
  border-radius: 10px;
}
.body1 .h9titulo {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  text-align: right;
  font-size: xx-large;
  display: grid;
  color: yellow;
}
.body1 .h9titulo .botoncompra9 {
  text-align: center;
  align-items: center;
  font-size: x-large;
  color: aqua;
  background-color: #000;
  border: solid red;
  border-radius: 10px;
  height: 100px;
  transition: height 3s;
  transform: skewY(2deg);
}
.body1 .h9titulo .botoncompra9:hover {
  height: 200px;
}
.body1 .bordesRedondeados {
  border: solid 5px blue;
  border-left: 10px;
  border-right: 10x;
  border-bottom: none;
  margin: 30px;
}

/*BUSCA TU MODELO*/
.body1 {
  background-color: #807469;
  background-image: url(../assets/LOGO/aventador-sv-002.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: 25px;
}
.body1 #encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
}
.body1 #encabezadoshome .imagenminiminiatura {
  border: solid #023b99;
  border-radius: 20px;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 1s;
}
.body1 .navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.body1 .navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.body1 .navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}

/*CONTACTOS*/
.body1 {
  background-color: #807469;
  background-image: url(../assets/LOGO/aventador-sv-002.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: 25px;
}
.body1 #encabezadoshome {
  font-family: "DatalegreyaThin";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  color: #f0f0f0;
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
}
.body1 #encabezadoshome .imagenminiminiatura {
  border: solid #023b99;
  border-radius: 20px;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 1s;
}
.body1 .navbar {
  background-image: linear-gradient(white, blue, black, white);
  font-size: large;
  display: flex;
  /*background-image: radial-gradient( red, blue, yellow, white) ;
  */
}
.body1 .navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.body1 .navbar .menu {
  display: flex;
  justify-content: space;
  grid-column: 4/7;
}

/*FIN*/
@keyframes rotar_logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
/*MEDIAQUERIESS
*/
@media (min-width: 10px) and (max-width: 600px) {
  .body1 {
    width: fit-content;
  }

  .head1 {
    border: none;
  }

  .encabezadoshome1 {
    font-size: 43px;
  }

  #encabezadoshome {
    font-size: 43px;
  }

  .bordesRedondeados {
    align-items: flex-start;
    margin: 5px;
    width: 300px;
    height: 150px;
    border: solid blue;
    border-radius: 20px;
  }

  .IMAGENINDEX {
    border-radius: 25px;
    border-bottom: solid 10px #022863;
    border-top: solid 10px #022863;
  }

  .h4titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    border: solid;
    border-radius: 10px;
    color: #f0f0f0;
    margin: 10px;
  }

  .h3titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    border: solid yellow;
    border-radius: 10px;
    color: white;
    font-size: large;
  }

  .h2titulo, .h9titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    border: solid yellow;
    border-radius: 10px;
    color: white;
    font-size: large;
  }

  .botoncompra2, .botoncompra9 {
    text-align: center;
    align-items: center;
    font-size: x-large;
    color: aqua;
    background-color: #000;
    border: solid blue;
    border-radius: 10px;
  }

  #grilla3 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-column: 2.1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #grilla2 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: fit-content;
  }

  .imagenminiminiatura {
    width: 35px;
    height: 35px;
  }

  .navbar .menu a {
    font-size: small;
  }

  .navbar .logo {
    display: none;
  }

  .h1titulo {
    font-size: small;
  }

  .navimg {
    width: 150px;
    height: 150px;
  }

  .navimg2 {
    width: 200px;
    height: 150px;
  }

  .h2titulo, .h9titulo {
    display: grid;
    width: fit-content;
  }

  .botoncompra2, .botoncompra9 {
    font-size: small;
  }

  .repuestosparamotores {
    font-size: large;
  }

  .tipodetexto1 {
    font-size: large;
  }

  .tipodetexto2 {
    font-size: large;
  }

  .MOTORESNAFTEROS {
    font-size: large;
    color: #f0f0f0;
  }

  .tipodetexto11 {
    font-size: large;
  }

  .MOTORESACOMBUSTION {
    font-size: large;
  }

  .p {
    font-size: large;
  }

  .IMAGENINDEX {
    height: fit-content;
    width: fit-content;
  }

  .FOOTERSOCIAL {
    display: block;
  }

  .shop {
    display: none;
  }

  .bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  /*main*/
  .principal .contenido {
    grid-row: 3/7;
  }

  .principal h1 {
    font-size: 30px;
  }

  .principal p {
    font-size: 12px;
  }

  .principal .boton {
    font-size: 10px;
    font-weight: 900;
    color: yellow;
    text-transform: uppercase;
    background: black;
    border: solid 1px yellow;
  }

  /*footer*/
  .piedepagina {
    height: 110px;
  }

  .seguime {
    display: none;
  }

  .desarrollando {
    font-size: 15px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .navbar .menu a {
    font-size: large;
  }

  .navbar .logo {
    display: none;
  }

  #encabezadoshome {
    font-size: 48px;
  }

  .encabezadoshome1 {
    font-size: 48px;
  }

  .h4titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    margin: 10px;
    border: solid;
    border-radius: 10px;
    color: #f0f0f0;
  }

  #grilla3 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .h3titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    border: solid yellow;
    border-radius: 10px;
    color: white;
    font-size: large;
  }

  .shop {
    display: none;
  }

  .bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  #encabezadoshome {
    font-size: px;
  }

  #grilla2 {
    display: grid;
    border: solid;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #023b99;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr);
    width: auto;
    grid-template-rows: 350px 350px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar .logo {
    display: none;
  }

  .navbar .menu a {
    font-size: large;
  }

  .detallemenu {
    border-left: solid gray;
    opacity: 86%;
  }

  .shop {
    display: grid;
    grid-column: 8/9;
    justify-content: center;
    align-content: center;
  }

  .navimg2 {
    width: 200px;
    height: 150px;
  }

  .h4titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    margin: 10px;
    border: solid;
    border-radius: 10px;
    color: #f0f0f0;
  }

  .h3titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    border: solid yellow;
    border-radius: 10px;
    color: white;
    font-size: large;
  }

  #grilla2 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #grilla3 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .bordesRedondeados {
    align-items: flex-start;
    margin: 5px;
    width: 550px;
    height: 300px;
    border: solid 10px blue;
    border-top: none;
  }
}
@media (min-width: 1025px) and (max-width: 5000px) {
  .navbar .logo {
    display: none;
  }

  .encabezadoshome1 {
    font-size: 65px;
  }

  #encabezadoshome {
    font-size: 65px;
  }

  .detallemenu {
    border-left: solid gray;
    opacity: 86%;
  }

  .shop {
    display: grid;
    grid-column: 8/9;
    justify-content: center;
  }

  .bordesRedondeados {
    align-items: flex-start;
    margin: 5px;
    width: 550px;
    height: 300px;
    border: solid 10px blue;
    border-top: none;
  }

  .h4titulo {
    background-color: rgb(94, 87, 87);
    text-align: center;
    margin: 10px;
    border: solid;
    border-radius: 10px;
    color: #f0f0f0;
  }

  #grilla3 {
    margin: 5px;
    display: grid;
    border: solid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=estilos.css.map */
