

//variables
$titulo-fontfamily:'DatalegreyaThin' ;


#encabezadoshome{
    
    font-family: $titulo-fontfamily;
    font-weight: bold;
    font-style: normal;
    font-size: 65px;
    color: #f0f0f0;
    background-position: right;
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    animation-duration: 4s;  }